filebeat:
  prospectors:
    -
      paths:
        - /var/log/syslog
        - /var/log/*.log
        - /opt/mapr/logs/*log
      input_type: log

logging:
  to_syslog: true

output:
  logstash:
    hosts: {{logstash_hosts}}
    #worker: 1
    loadbalance: true
    #index: filebeat
    #tls:
      # List of root certificates for HTTPS server verifications
      #certificate_authorities: ["/etc/pki/root/ca.pem"]

      # Certificate for TLS client authentication
      #certificate: "/etc/pki/client/cert.pem"

      # Client Certificate Key
      #certificate_key: "/etc/pki/client/cert.key"

      # Controls whether the client verifies server certificates and host name.
      # If insecure is set to true, all server host names and certificates will be
      # accepted. In this mode TLS based connections are susceptible to
      # man-in-the-middle attacks. Use only for testing.
      #insecure: true

      # Configure cipher suites to be used for TLS connections
      #cipher_suites: []

      # Configure curve types for ECDHE based cipher suites
      #curve_types: []

